@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
   --primary: #AA7F4F;
  --secondary: #F1F0ED;
  --secondary-light: #F9F7F4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
   --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);
  --font-alethia: "AlethiaNext", serif;
  --font-signatie: "Signatie", cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #FFFF;
  }
}

body {
  background: var(--foreground);
  color: var(--background);
  font-family: var(--font-alethia);
}

.swiper-pagination-bullet-active {
  background-color: #000 !important;
  transform: scale(1.3);
}

