@import "tailwindcss";

:root {
  --background: #F1F0ED;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-alethia: var(--font-alethia-next);
  --font-signatie: var(--font-signatie);
}


body {
  color: var(--foreground);
}
